@model OnlineTicariOtomasyon.Models.Siniflar.SatisHareket
@{
    ViewBag.Title = "YeniSatis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<head>
    <!-- Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <!-- Or for RTL support -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.rtl.min.css" />

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
    <br />
    <h2>Yeni Satış Sayfası</h2>
    <br />
    <form class="form-group" method="post">
        @Html.LabelFor(x => x.Urun)
        @Html.DropDownListFor(x => x.UrunId, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-select", id = "single-select-field" })
        <br />
        @Html.Label("Cari")
        @Html.DropDownListFor(x => x.CariId, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-select", id = "single-select-field1" })
        <br />
        @Html.LabelFor(x => x.Personel)
        @Html.DropDownListFor(x => x.PersonelId, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-select", id = "single-select-field2" })
        <br />
        @Html.LabelFor(x => x.Adet)
        <input type="number" name="Adet" class="form-control" max="10" min="0" placeholder="Adet Girin" id="txt1" onchange="sum()" />
        <br />
        @Html.LabelFor(x => x.Fiyat)
        <input type="text" name="Fiyat" class="form-control" id="txt2" onkeyup="sum()" />
        <br />
        @Html.LabelFor(x => x.ToplamTutar)
        <input type="text" name="ToplamTutar" value="0" class="form-control" id="txt3" readonly />
        <br />
        <button class="btn btn-primary">Kaydet</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#single-select-field').select2({
                theme: "bootstrap-5",
                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            });

            $('#single-select-field1').select2({
                theme: "bootstrap-5",
                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            });

            $('#single-select-field2').select2({
                theme: "bootstrap-5",
                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            });

            $('#single-select-field').on('change', function () {
                var urunId = $(this).val();
                if (urunId) {
                    $.ajax({
                        url: '/Satis/GetUrunFiyat',
                        type: 'GET',
                        data: { urunId: urunId },
                        success: function (data) {
                            console.log("Gelen Fiyat: ", data);
                            $('#txt2').val(data);
                            sum();
                        },
                        error: function (xhr, status, error) {
                            console.error("Hata:", error);
                        }
                    });
                }
            });
        });

        function sum() {
            var sayi1 = document.getElementById('txt1').value;
            var sayi2 = document.getElementById('txt2').value;
            var sonuc = parseInt(sayi1) * parseInt(sayi2);
            if (!isNaN(sonuc)) {
                document.getElementById('txt3').value = sonuc;
            }
        }
    </script>
</body>